@charset "utf-8";
@import url("reset.css");

body {
	background-color: #e5e6de;
	font-family: Helvetica, sans-serif;
}

#WRAPPER{
	margin: 0 auto;
	background-color:#FFF; 
	width: 1224px;
}

/*---TOPTOP-------------------------*/
#TOPTOP h1{
	margin: 0 auto; width: 1224px; height: 600px; background-image:url(images/banner.png);
}

/*-----Hide Text-----*/
.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*---NAVNAV-------------------------*/
#NAVNAV {
	margin: 0px auto; width: 1200px; height: 70px; background-color:#3e86d8;
}
#NAVNAV ul {
	
}
#NAVNAV li {
	float: left;	
}
#NAVNAV li a {
	width:200px; height:70px; text-align: center; color:#FFF; line-height: 70px; letter-spacing: 2px; font-size: 13px; font-weight:bold; text-decoration: none; display: block; 
}
#NAVNAV li a:hover {
	color:#FC0;
}

/*---MAINMAIN-------------------------*/
#MAINMAIN {
	margin: 0px auto; width: 1224px; height:550px; background-color:#FFFFFF;
}
#MAINMAIN .box {
	width: 306px; height: 545px; float: left; position: relative;
}

#MAINMAIN .box h2 {
	left: 10px;
	top: 84px;
	letter-spacing: 1px;
	font-size: 20px;
	color: rgb(102, 102, 102);
	position: absolute;
	margin-left:-3px;
}
#MAINMAIN .box img {
	left: 10px; top: 150px; position: absolute;
}
#MAINMAIN .box p {
	left: 10px; top: 150px; text-align: justify; color: rgb(102, 102, 102); line-height: 18px; letter-spacing: 1px; padding-right: 30px; font-size: 12px; position: absolute; font-family: Arial;
}
#MAINMAIN .box p.add_photo {
	left: 10px; top: 315px; 
}
#MAINMAIN .box h2 a {
	color: rgb(0, 0, 0); text-decoration: none;
}
#MAINMAIN .box a {
	color: rgb(0, 0, 255);
}
#MAINMAIN .box a:hover {
	color:#06C;
}


/*---MAINMAIN-2-------------------------*/
#MAINMAIN-2 {
	margin: 0px auto; width: 1224px; height:550px; background-color:#EBEBEB;
}
#MAINMAIN-2 h1{
	text-align:center; font-size:40px; font-weight:normal; padding-top:90px;
}
#MAINMAIN-2 h2{
	text-align:center; font-size:15px; font-weight:normal; padding-top:25px; letter-spacing:5px; 
}
#MAINMAIN-2 .box {
	width: 306px; height: 365px; float: left;
}

#MAINMAIN-2 .box h2 {
	padding-top:90px;
	letter-spacing: 1px;
	text-align:center;
	font-size: 16px;
	color:#333;
}
#MAINMAIN-2 .box p {
	padding:30px 30px 0 30px; text-align:center; color: rgb(102, 102, 102); line-height: 28px; letter-spacing: 3px; font-size: 12px; font-family: Arial;
}

#MAINMAIN-2 .box a {
	display:block;
	width:160px;
	height:45px;
	text-decoration:none;
	background-color:#069;
	color:#FFF;
	line-height:45px;
	text-align:center;
	margin:0 auto;
	margin-top:50px;
}
#MAINMAIN-2 .box a:hover {
	background-color:#0066FF;
}

/*---FOOTFOOT-------------------------*/
#FOOTFOOT {
	margin: 0px auto; width: 1224px; height:125px; background-color:#e5e6de;
}
#FOOTFOOT h2 {
	font-size:12px; text-align:center; color:#666; font-family: Arial; line-height:125px; letter-spacing: 1px; font-weight:normal;  
	
}
#FOOTFOOT h2 a {
	color:#666;
}

#FOOTFOOT h2 a:hover {
	color:#06C;
}

.clearfloat {
	height: 0px; line-height: 0px; clear: both; font-size: 1px;
}
